body{
    background-color: rgb(236, 143, 143);
    color: aliceblue;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #000000;
}
.menu a {
    text-decoration: none;
}

.menu li{
    display:inline-block;
    margin: 15px;
    color: #000000;
}

main{
    margin-top: 50px;
}
body{
    font-size: 20px;
    text-align: justify;
}

.titulo{
    color: black;
    background-color: #fff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-weight: 200;
    font-size: 40px;
}
.titulo-h3{
    background-color: beige;
    color: cadetblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.papel-de-imagem{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    border: 2px black solid;
}
.container-papel-de-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dinheiro{
    color: green;
}
