body{
    background-color: rgb(236, 143, 143);
    color: aliceblue;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
    


}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #000000;
}

.menu li{
    display:inline-block;
    margin: 15px;
    color: #000000;
    font-size: 20px;
}
.menu a {
    text-decoration: none;
}
.titulo{
    color: black;
    background-color: #fff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

main{
    font-size: 20px;
    text-align: justify;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: #ddd;
}
p a{
    text-decoration: none;
    color: rgba(54, 54, 251, 0.614);
}
.grafico-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-h3{
    background-color: beige;
    color: cadetblue;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-home a{
    text-decoration: none;
    background-color: white;
    color: #000000;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

#botao-end{
    display: flex;
    justify-content: end;
    align-items: end;
}
