body  {
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
} 

#container{
    display: flex;
    background-color: gray;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: large;
}

#receita{
    background-color: gray;
    width: 100%;
    height: 100%;
}
#div.receita{
    align-items: center;
    padding: 10px;
}
#Volta{
    
    background-color: white;
    width: 100px;
}
#receita a{
    padding: 10px;
    width: auto;
    display: flex;
    color: black;
    width: 100%;
    justify-content: left;
    pointer-events: all;
    border-radius: 10px;
}
#receita img{
    display: flex;
    justify-content: left;
    height: 40px;
}
#Ingredientes{
    list-style-type: none;
    justify-content: left;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}
#Ingredientes li{
    list-style-type: none;
}
#Ingredientes ul{
    align-items: center;
    justify-content: center;
}
#Ingredientes div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#preparo{
    width: 100%;
    height: 100%;
    background-color: white;
    align-items: center;
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
}