body{
    background-color: rgb(236, 143, 143);
    color: aliceblue;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
    
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #000000;
}
.menu ul li {
    display:inline-block;
    margin: 15px;
    color: #000000;
}
.menu a{
    text-decoration: none;
}

.titulo-h1{
    color: black;
    background-color: #fff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.corpo-texto {
    font-size: 23px;
    text-align: justify;
}
#video{
    display: flex;
    justify-content: center;
    align-items: center;
}

#botão-contato a{
    text-decoration: underline;
    background-color: aliceblue;
    color: #000000;
    padding: 5px;
    margin: 5px;
}
#botão{
    display: inline-flex;
}