body{
    background-color:#12372A;
}
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.titulo_site{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FBFADA;
    width: auto;
    background-color: #ADBC9F;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #ADBC9F;
    color: #FBFADA;
    padding: 10px;
    margin: 10px;px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
}
.sobre_site_estilo{
    text-align: justify;
    text-indent: 20px;
    background-color: #FBFADA;
    border-radius: 5px;
}
.nav_bar_homepage{
    display: flex;
    text-align: justify;
    justify-content: left;
    flex-direction: column;
    text-indent: 20px;
    background-color: #FBFADA;
    margin: 10px;
    width: 25%;
}
ol li{
    list-style: decimal;
}
