body{
    background-color: rgb(236, 143, 143);
    color: aliceblue;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #000000;
}

.menu li{
    display:inline-block;
    margin: 15px;
    color: #000000;
    font-size: 20px;
}
.menu a {
    text-decoration: none;
}

main{
    margin-top: 50px;
    font-size: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
thead tr th{
    font-size: 30px;
    background-color: grey;
}
th, td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
tbody {
    background-color: rgb(255, 255, 255);
    color: #000000;
}
.imagens-de-computador{
    display: flex;
    justify-content: center;
    align-items: center;

}
.titulo{
    color: black;
    background-color: #fff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.titulo-h3{
    background-color: beige;
    color: cadetblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.papel-de-imagem{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    border: 2px black solid;
}
.container-papel-de-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao-home a{
    text-decoration: none;
    background-color: white;
    color: #000000;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

#botao-end{
    display: flex;
    justify-content: end;
    align-items: end;
}