#header img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    border-radius: 10px;
}
#header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
}
body{
    background-color:cadetblue;
    font-size: 17px;
    margin: 20px;
}
a{
    color: black;
}
