body{
    background-color: rgb(236, 143, 143);
    /* color: aliceblue; */
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #000000;
}
header li{
    display:inline-block;
    margin: 15px;
    color: #000000;
}
.titulo-h1{
    color: black;
    background-color: #fff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
main{
    font-size: 20px;
    text-indent: 15px;
    text-align: justify;

}

.evolucao-comp-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.papel-de-imagem{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 2px black solid;
}
.legenda-imagem{
    padding: 10px;
    margin-top: 15px;
}

